@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQ9fda4SWv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQq_da4SWv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQmfda4SWv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQdfBa4SWv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQTPBa4SWv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFk9Tc71q6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc71q6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFiNTc71q6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFs9Uc71q6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFvZUc71q6A.ttf) format('truetype');
}
